<h5 class="text-primary">Add Employee</h5>
<form>
    <div class="row">
        <div class="col-3">
            <input type="text" class="form-control" id="email" aria-describedby="emailHelp">
        </div>
        <div class="col-3">
            <input type="text" class="form-control" id="first_name" aria-describedby="emailHelp">
        </div>
        <div class="col-3">
            <input type="text" class="form-control" id="last_name" aria-describedby="emailHelp">
        </div>
        <div class="col-3">
            <button class="btn btn-primary">Add Employee</button>
        </div>
    </div>
</form>