<h5 class="text-primary">Employee List</h5>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Email</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Profile</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of (employees$ | async)">
            <td>{{emp.email}}</td>
            <td>{{emp.first_name}}</td>
            <td>{{emp.last_name}}</td>
            <td><img [src]="emp.avatar" alt=""></td>
            <td>
                <span style="display: block;"><a style="cursor: pointer;">edit</a></span>
                <span style="display: block;"><a style="cursor: pointer;">delete</a></span>
            </td>
        </tr>
    </tbody>
</table>